node_modules
**/node_modules
.git
.env
.env.*
*.log
dist
**/dist
.turbo
**/.turbo
.next
**/.next
venv
**/venv
.venv
**/.venv
__pycache__
**/__pycache__
*.tsbuildinfo
**/*.tsbuildinfo
.agents
.claude
.codex
